.experiences__container {
    grid-template-columns: repeat(2, 270px);
    justify-content: center;
    column-gap: 1.8rem;
}

.experiences__content {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--container-color);
    padding: 6rem 0 2rem 2.5rem;
}

.experiences__modal {
    display: none;
}